In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data.csv")
def to_seconds(x):
    if x == 'none':
        x = '7:00' 
    minutes = int(x.split(':')[0])
    seconds = int(x.split(':')[1])
    return minutes * 60 + seconds
    
df['Timing of 3rd before 5:15'] = df['Timing of 3rd before 5:15'].apply(lambda x: to_seconds(x))
df['Time to cut drones'] = df['Time to cut drones'].apply(lambda x: to_seconds(x))
df

,4:00 gateway count,Timing of 3rd before 5:15,Warpgate rush,Has a stargate before 4:00 started,robo before 4:00 started,Time to cut drones
0,4,420,1,0,1,240
1,2,288,1,1,0,360
2,1,297,1,1,1,360
3,2,420,1,0,1,300
4,3,275,1,1,0,360
5,3,292,1,1,1,360
6,4,305,1,0,1,240
7,3,300,1,1,0,360
8,2,241,1,1,0,360
9,3,284,1,1,1,330
10,3,287,0,1,0,360
11,2,303,0,1,1,330
12,5,420,1,0,1,240
13,4,420,1,0,1,240
14,8,420,1,0,1,240
15,4,243,0,1,0,360
16,2,239,0,1,0,360
17,2,311,0,1,1,330
18,4,305,1,0,1,270
19,3,420,1,1,1,240
20,2,224,0,1,0,360
21,4,266,1,0,1,270
22,2,273,0,1,0,360
23,4,420,0,0,1,270
24,3,303,1,0,1,240
25,1,289,0,1,1,330
26,2,252,0,1,1,360
27,2,309,0,1,0,360

In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error

In [4]:
# Features = first 5 columns, Target = 6th column
X = df[[x for x in df.columns if x != 'Time to cut drones']]
y = df[[x for x in df.columns if x == 'Time to cut drones']]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier, plot_tree

model = DecisionTreeClassifier()
model.fit(X_train, y_train)

plt.figure(figsize=(20, 10))  # big figure so text is readable
plot_tree(
    model,
    feature_names=X_train.columns,
    class_names=True,
    filled=True,
    rounded=True,
    fontsize=10
)
plt.savefig("decision_tree.png", dpi=300, bbox_inches="tight")
plt.show()

NameError: name 'X_train' is not defined